//--------------------------------------------------------------
// WordPress Default Blockquote Block
//--------------------------------------------------------------

// Match block quotes to current defaults.
.wp-block-quote {
	text-align: center;

	p:before { 
		content: '\275D';
		padding-right: .4rem;
	}

	p {
		margin-bottom: 0;
	}

	p:after { 
		content: '\275E';
		padding-left: .4rem;
	}

	// Match our defaults current state.
	cite {
		font-size: .8rem !important; // have no idea where this is being overriden 
		font-style: normal;
		font-weight: 300;
		color: $color-gray;
		text-transform: capitalize;
		margin-top: .4rem;
		display: block;
		text-align: center !important; // have no idea where this is being overriden 
	} // cite
} // .wp-block-quote