//--------------------------------------------------------------
// Site Content
//--------------------------------------------------------------

.single .entry-content, .page .entry-content {
	@include span-columns(12);
	padding: 0;

	@include media($tablet-portrait) {} // $tablet-portrait

	@include media($tablet-landscape) {
		@include span-columns(6);
		@include shift(3);
	} // $tablet-landscape

	@include media($desktop) {
		@include span-columns(6);
		@include shift(3);
	} // $desktop
} // .content-area, .single .content-area

//--------------------------------------------------------------
// Posts and Pages
//--------------------------------------------------------------

// Body Content Links

// Edit Link
.post-edit-link {
	display: none;
}

// Entry Title
.entry-title {
} // .entry-title

.single, .page {
	.entry-title {
	}
}

// Sticy and Comments Link
.sticky,
.comments-link {
	display: block;
} // .sticky, .comments-link

// hentry
.hentry {
	// margin: 0 0 rem(24) 0;
	overflow: auto;
} // .hentry

// Byline and update post date
.byline,
.updated:not(.published) {
	display: none;
} // .byline, .updated:not(.published)

// Byline for single and group
.single .byline,
.group-blog .byline {
	display: inline;
} // .single .byline, .group-blog .byline

// Page content, entry content and entry summary
.page-content,
.entry-content,
.entry-summary {
	margin: 0;
} // .page-content, .entry-content, .entry-summary

// Page links
.page-links {
	clear: both;
	margin: 0 0 rem(24) 0;
} // .page-links

// Tags links
.tags-links {
	margin-left: rem(24);
} // .tags-links

// Edit link
.edit-link {
	margin: 0 0 0 rem(5);

	a {
		display: inline-block;
		font-size: rem(12);
		text-transform: lowercase;

		&::before {
			content: '(';
		}

		&::after {
			content: ')';
		}
	} // a
} // .edit-link

// Asides
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
} // .blog .format-aside .entry-title, .archive .format-aside .entry-title

// Content blocks.
.content-block {
	@include clearfix;
} // .content-block

// Quotes
.wp-block-quote {
	margin: 2 * $gutter;
	font-weight: 500;
	color: $color-blue-violet;
}
.wp-block-quote.is-large, .wp-block-quote.is-style-large {
	margin-bottom: 2rem;
	
	p {
		font-size: 1.8rem;
		color: $color-violet;
	}
} // .wp-block-quote.is-large, .wp-block-quote.is-style-large

.wp-block-pullquote {
	margin: 3 * $gutter 0;
} // .wp-block-pullquote

// Files 
.wp-block-file {
	text-align: center;
	margin: 3 * $gutter 0;
}

// Code 
pre.wp-block-code {
	margin: 3 * $gutter 0;
}

// Verse 
.wp-block-verse {
	margin: 3 * $gutter 0;
}