//--------------------------------------------------------------
// Header.
//--------------------------------------------------------------

.site-header {
	display: flex;
    align-items: center;

}

// Site logo.
.site-branding {
	@include span-columns(10);
	display: flex !important;
	flex-direction: row;
	align-items: center;
	padding: $gutter;

	@include media($tablet-portrait) {
		@include span-columns(11);
	}

	@include media($tablet-landscape) {
		@include span-columns(5);
	}

	// Don't let the logo get out of control.
	img {
		@include media(min-width $tablet-portrait max-width $tablet-landscape) {
			float: left;
			width: 50%;
		}
	} // img

	a.custom-logo-link {
		display: inline-block;
		height: 50px;

		img {
			width: 50px;
		}
	} // a.custom-logo-link 
} // .site-branding

//-----------------------------------------
// Site Title.
//-----------------------------------------
.site-title {
	font-size: rem(24);
	margin: inherit;
	margin-left: 1rem;
	text-transform: uppercase;
	font-weight: 700;

	a {
		background: -webkit-linear-gradient(45deg, #2619FD, #8E2FFD ,#F488FE);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	// Align next to the logo on mid-size screens.
	@include media(min-width $tablet-portrait max-width $tablet-landscape) {
		float: left;
		margin: 0;
		padding: 0 rem(12);
		width: 50%;
	}
} // .site-title

//-----------------------------------------
// Site Description.
//-----------------------------------------
.site-description {
	font-size: rem(24);
	margin: 0 0 rem(24) 0;

	@include media(min-width $tablet-portrait max-width $tablet-landscape) {
		clear: both;
	}
} // .site-description

//-----------------------------------------
// Header action container — Form Dropdown.
//-----------------------------------------
.site-header-action {
	@include span-columns(12);

	@include media($tablet-portrait) {
		@include span-columns(5);
	}

	@include media($tablet-landscape) {
		@include span-columns(4);

		float: right;
		margin-right: 0;
	}

	@include media($desktop) {
		@include span-columns(3);

		float: right;
		margin-right: 0;
	}

	@include media($desktop-large) {
		@include span-columns(2);

		float: right;
		margin-right: 0;
	}
} // .site-header-action

//-----------------------------------------
// Site header action cta buttons.
//-----------------------------------------
.site-header-action {

	// Span the button the full width.
	.button-link,
	.cta-button {
		color: $color-white;
		display: block;
		text-align: center;
		text-decoration: none;
		width: 100%;
	} // .button-link, .cta-button
} // .site-header-action

//-----------------------------------------
// Site header Action Searchform.
//-----------------------------------------
.site-header-action {

	.search-form {
		opacity: 0;
		transition: $transition-opacity;
		visibility: hidden;

		// If the body class is there, show the form.
		.search-form-visible & {
			display: block;
			opacity: 1;
			transition: $transition-opacity;
			visibility: visible;
		} // .search-form-visible &
	} // .search-form
} // .site-header-action

//-----------------------------------------
// Main Navigation Container.
//-----------------------------------------
.main-navigation {
	@include span-columns(12);
} // .main-navigation
