//--------------------------------------------------------------
// Fifty Fifty Blocks
//--------------------------------------------------------------
.fifty-fifty {
	.cell {
		@include media($tablet-portrait) {
			@include span-columns(6);
		}
	}
} // .fifty-fifty
