//--------------------------------------------------------------
// Blog Feed Template
//--------------------------------------------------------------

.hfeed {
    .site-main {
        display: flex;
        flex-wrap: wrap;
    }
    
	.content-area {
		@include span-columns(12);

		@include media($tablet-portrait) {}

		// $tablet-portrait

		@include media($tablet-landscape) {
			@include span-columns(6);
			@include shift(3);
		}

		// $tablet-landscape

		@include media($desktop) {
			@include span-columns(10);
			@include shift(1);
		}

		// $desktop
	}

	article.blog-post {
		@include span-columns(12);
		height: auto;

		h2,
		figure {
			a:link {
				box-shadow: none;
			}
		}

		@include media($tablet-portrait) {
			@include span-columns(4);
			@include pad(1rem);

		}

		// $tablet-landscape

		@include media($tablet-landscape) {
			@include span-columns(4);
			@include pad(1rem);
		}

		// $tablet-landscape

		margin: 0 0 2rem 0;
		overflow: hidden;

		.featured-image {
			border-radius: $border-radius-medium;
			overflow: hidden;
			margin-bottom: 1rem;

			a {
				display: block;
				line-height: 0;
			}

			// a
		}

		// .feautred-image

		.entry {

			&-meta,
			&-header,
			&-content {
				padding: 0 1rem;
			}

			// entry-meta, entry-header, entry-content

			&-header {
				margin: {
					bottom: .4rem;
				}
			}

			// .entry-header

			&-title {
				font-size: 1.2rem;
				margin: 0 0 0 0;
			}

			// .entry-title

			&-meta {
				font-size: 1rem;
			}

			// .entry-meta

			&-content {
				margin: 0 0 0 0;
			}

			// .entry-content
		}

		// .entry
	}

	// article.blog-post

	article.blog-post:nth-child(2n + 1) {
		@include omega();
	}

	// article.blog-post:nth-child(2n + 1)
}

// .hfeed

.featured-image {
	a:hover {
		background-image: none !important;
	}

	// a:hover
}

// .featured-image 

.category {
	letter-spacing: 1px;
	text-transform: uppercase;
	color: $color-tundora;

	font: {
		//family: $font-serif;
		weight: 600;
		size: .8rem;
	}

	// font-
}

// .category

.exerpt {
	p {
		margin: {
			bottom: .6rem;
		}
	}

	// p 
}

// .exerpt

.author {
	display: flex;
	align-items: center;
	color: $color-black;

	&-name {
		text-transform: capitalize;
	}

	// .author-name
	&-text {
		margin: 0 .2rem 0 0;
	}

	&-pic {
		height: 32px;
		width: 32px;
		border-radius: 100%;
		margin: 0 .5rem 0 0;
		box-shadow: 0px 4px 10px 0px $color-alto;
		background: $color-alto; 
	}

	// .author-text

	img.avatar {
	}

	// img.avatar
}

// .author