//--------------------------------------------------------------
// Single Post Template
//--------------------------------------------------------------
.single-post {
    .entry {
        @include span-columns(12);

        &-header {
            @include span-columns(12);
            margin-bottom: 2rem;

            .entry-title {
                text-transform: capitalize;
            }
            
            .entry-meta {
                margin-bottom: $gutter;
                text-transform: uppercase;
            }
        }

        .author {
            justify-content: center;
        }

        &-content {
            @include span-columns(12);
        }
    }
} // .single-post