//--------------------------------------------------------------
// HTML Elements
//--------------------------------------------------------------

html {

	@media screen and (min-width: $phone) {
		font-size: 16px;
	}

	@media screen and (min-width: $tablet-landscape) {
		font-size: 18px
	}

	@media screen and (min-width: $desktop) {
		font-size: 22px;
	}

	@media screen and (min-width: $desktop-large) {
		font-size: 34px;
	}
} // html

//--------------------------------------------------------------
// Iframes
//--------------------------------------------------------------

embed,
iframe,
object {
	max-width: 100%;
} // embed, iframe, object

hr {
	@include size(auto 1px);

	background-color: $color-background-hr;
	border: 0;
	margin: 0 0 rem(24) 0;
} // hr

figure {
	margin: 0;
} // figure

//--------------------------------------------------------------
// Lists
//--------------------------------------------------------------

ul,
ol {
	margin: 0 0 rem(48) rem(24);
} // ul, ol

ul {
	list-style: disc;
} // ul

ol {
	list-style: decimal;
} // ol

li > ul,
li > ol {
	margin: 0 0 0 rem(24);
} // li > ul, li > ol

dt {
	font-weight: 700;
} // dt

dd {
	margin: 0 rem(24) rem(24) 0;
} // dd

//--------------------------------------------------------------
// Tables
//--------------------------------------------------------------

table {
	@include size(100% auto);

	margin: 0 0 rem(24) 0;
} // table

th {
	font-weight: 700;
} // th
