//--------------------------------------------------------------
// Global Link Styles
//--------------------------------------------------------------

a:link {
	color: $color-link;
	transition: $transition-all;
	text-decoration: none;

	&:visited {
		color: $color-blue;
	} // &:visited

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
		transition: $transition-all;
	//	text-decoration: underline;
	} // &:hover, &:focus, &:active
} // a

.site-content {
	a:link {
		color: $color-link;
		transition: $transition-all;
		box-shadow: inset 0 -1px 0 $color-violet;
		padding: 5px 0;
		text-decoration: none;
	
		&:visited {
			color: $color-blue;
		} // &:visited
	
		&:hover,
		&:focus,
		&:active {
			color: $color-link-hover;
			transition: $transition-all;
		//	text-decoration: underline;
		} // &:hover, &:focus, &:active

		&:hover {
			box-shadow: inset 0 -3px 0 $color-violet;
		}
	} // a
}

.article {
	a:not([href*='http://ultraviolet.test']):not([href^='#']):not([href^='/']):after, // all target blank links test site
	a:not([href*='http://miraviolet.com']):not([href^='#']):not([href^='/']):after, // all target blank links live site
	a:not([href*='http://ultraviolet.blog']):not([href^='#']):not([href^='/']):after, // all target blank links live site alternate domain

	a:not([href*='https://ultraviolet.test']):not([href^='#']):not([href^='/']):after, // all target blank links test site
	a:not([href*='https://miraviolet.com']):not([href^='#']):not([href^='/']):after, // all target blank links live site
	a:not([href*='https://ultraviolet.blog']):not([href^='#']):not([href^='/']):after, // all target blank links live site alternate domain

	a:visited::after {
		content: "\21D7";
	} 
}