//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------

body,
button,
input,
select,
textarea {
	color: $color-text-main;
	font-family: $font-sans;
	line-height: $line-height-body;
} // body, button, input, select, textarea

::selection {
	background: $color-violet;
	color: $color-white; 
	text-shadow: none;
}

//--------------------------------------------------------------
// Headers
//--------------------------------------------------------------

// Global Header Resets.
@for $i from 1 through 6 {
	h#{$i} {
		text-transform: capitalize;
		margin: 1rem 0 .4rem;
		line-height: 1.2;

		font: {
			family: $font-serif;
			weight: 600;
		} // font-
	} // h#{$i}
} // end @for

h1,
.h1 {
	color: $color-blue;
	font-size: 3rem;
} // h1, .h1

h2,
.h2 {
	color: $color-blue-violet;
	font-size: 2.6rem;
} // h2, .h2

h3,
.h3 {
	color: $color-violet;
	font-size: 2.2rem;
} // h3, .h3

h4,
.h4 {
	color: $color-purple;
	font-size: 1.8rem;
} // h4, .h4

h5,
.h5 {
	color: $color-purple-pink;
	font-size: 1.4rem;
}  // h5, .h5

h6,
.h6 {
	color: $color-pink;
	font-size: 1rem;
} // h6, .h6

//--------------------------------------------------------------
// Copy
//--------------------------------------------------------------

p {
	margin: 0 0 rem(24) 0;
} // p

b,
strong {
	font-weight: 700;
} // b, strong

dfn,
em,
i {
	font-style: italic;
} // dfn, em, i

blockquote,
q {
	margin: 0 rem(24);
	quotes: '" "';

	&::before,
	&::after {
		content: '';
	}  // &::before, &::after
} // blockquote, q

address {
	margin: 0 0 rem(24) 0;
} // address

pre {
	background-color: $color-gallery;
	color: $color-cod-gray;
	line-height: $line-height-pre;
	margin: 0 0 rem(24) rem(-24);
	overflow: auto;
	padding: rem(24);
	white-space: pre;
	font: {
		family: $font-pre;
		size: rem(13);
	} // font-

	word: {
		break: normal;
		wrap: normal;
	} // word
} // pre

code,
kbd,
tt,
var {
	font: {
		family: $font-code;
		size: rem(15);
	} // font-
} // code, kbd, tt, var

abbr,
acronym {
	border-bottom: 1px dotted $color-border-abbr;
	cursor: help;
} // abbr, acronym

mark,
ins {
	text-decoration: none;
} // mark, ins

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
} // sup, sub

sup {
	bottom: 1ex;
} // sup

sub {
	top: 0.5ex;
} // sub

small {
	font-size: 75%;
} // small

big {
	font-size: 125%;
} // big

// Word Wrapping
.entry-title,
.entry-content,
.comments-title,
.comment-content,
.widget-title,
.widget {
	@include word-break;
} // .entry-title, .entry-content, .comments-title, .comment-content, .widget-title, .widget
