//--------------------------------------------------------------
// Media Query Breakpoints
//--------------------------------------------------------------

////
/// @group variables
/// @author WebDevStudios
////

/// Larger HD Desktops.
$desktop-large: 1920px;

/// Standard Desktops and Larger Laptops.
$desktop: 1280px;

/// Smaller Desktops and Standard iPad Tablet.
$tablet-landscape: 768px;

/// Breakpoint for WP Admin Bar.
$wp-admin-bar: 783px;

/// Smaller Tablets and Standard iPad Portrait.
$tablet-portrait: 600px;

/// Phones Smaller Than 500px in Width.
$phone: 320px;
